extends layout

block content


  //Wrapper
  #wrapper
    //Problems
    #problemList
      div(class="table-responsive-sm")
        table(class="table table-bordered")
          thead
            th(scope="col" width="38%") Problem
            th(scope="col" width="38%") Solution
            th(scope="col" width="4%")
              center
                text Count
            th(scope="col" width="8%")
              center
                text Add Count
            th(scope="col" width="4%")
              center
                img(src="/images/pencil.svg")
            th(scope="col" width="4%")
              center
                img(src="/images/trashcan.svg")

          tbody
    // /Problems
  // /Wrapper
