extends layout

block content


  //Wrapper
  #wrapper
    //Problems
    #problemList
      div(class="table-responsive-sm")
        table(class="table table-bordered")
          thead
            th(scope="col" width="30%") Problem
            //th(scope="col" width="38%") Solution
            th(scope="col" width="2%")
              center
                text Count
            th(scope="col" width="2.5%")
              center
                text Add Count
            th(scope="col" width="1.3%")
              center
                img(src="/images/pencil.svg")
            th(scope="col" width="1.3%")
              center
                img(src="/images/trashcan.svg")

          tbody(id="problemTable")
    // /Problems
  // /Wrapper
