extends layout

block content


  //Wrapper
  #wrapper
    //Problems
    #problemList
      div(class="table-responsive-sm")
        table(class="table table-bordered")
          thead
            th(scope="col" width="5%") #ID
            th(scope="col") Problem
            th(scope="col") Solution
            th(scope="col" width="7%") Count
            th(scope="col" width="7%") Add Count
          tbody
    // /Problems
  // /Wrapper
