doctype html
html
  head

    //modal for adding categories
    div(class="modal fade" id="categoryAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title") New Category
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body")
            form(id='addCategoryForm')
            #addCategory
              div(class="form-group row")
                label(for="category" class="col-sm-2 col-form-label") Category:
                div(class="col-sm-10")
                  input(form="addCategoryForm" class="form-control" id="category")
              div(class="modal-footer")
                button(form="addCategoryForm" type="submit" class="btn btn-info" data-dismiss="modal" id="btnAddCategory") Add Category


    //modal for adding problems
    div(class="modal fade" id="problemAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      div(class="modal-dialog modal-lg" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title") New Problem
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body")
            form(id='addProblemForm')
            #addProblem
              div(class="form-group row")
                label(for="problem" class="col-sm-2 col-form-label") Problem:
                div(class="col-sm-10")
                  textarea(form="addProblemForm" class="form-control" id="problem" rows="5")
              div(class="form-group row")
                label(for="solution" class="col-sm-2 col-form-label") Solution:
                div(class="col-sm-10")
                  textarea(form="addProblemForm" class="form-control" id="solution" rows="5")
              div(class="form-group row")
                label(for="category" class="col-sm-2 col-form-label") Category:
                div(class="col-sm-5")
                  select(form="addProblemForm" class="form-control" id="category")

              div(class="modal-footer")

                button(form="addProblemForm" type="submit" class="btn btn-info" data-dismiss="modal" id="btnAddProblem") Add Problem
    //Modal for editing
    div(class="modal fade" id="problemEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      div(class="modal-dialog modal-lg" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-tite") Edit Problem
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body")
            form(id="editProblemForm")
            #editProblem
              div(class="form-group row")
                label(for="problem" class="col-sm-2 col-form-label") Problem:
                div(class="col-sm-10")
                  textarea(form="editProblemForm" class="form-control" id="editproblem" rows="5")
              div(class="form-group row")
                label(for="solution" class="col-sm-2 col-form-label") Solution:
                div(class="col-sm-10")
                  textarea(form="editProblemForm" class="form-control" id="editsolution" rows="5")
              div(class="form-group row")
                label(for="category" class="col-sm-2 col-form-label") Category:
                div(class="col-sm-5")
                  select(form="editProblemForm" class="form-control" id="editcategory")
                label(for="ID" class="col-sm-1 col-form-label") ID:
                div(class="col-sm-4")
                  input(form="editProblemForm" class="form-control" id="ID" readonly)
              div(class="modal-footer")
              button(form="editProblemForm" type="submit" class="btn btn-info" data-dismiss="modal" id="btnEditProblem") Update Problem
    //Navbar
    div.top
      Nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="#") #{title}
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            li(class="nav-item dropdown" id="listcategories")
              a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Catalogue
                div(class="dropdown-menu" aria-labelledby="navbarDropdown")

        div(class="pull-right")
          ul(class="navbar-nav")
            li(class="nav-item")
              button(type="button" class="btn btn-light" data-toggle="modal" data-target="#categoryAdd") +  Categories
              &nbsp;
              &nbsp;
            li(class="nav-item")
              button(type="button" class="btn btn-light" data-toggle="modal" data-target="#problemAdd") +  Add a new problem
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block content
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="/javascripts/global.js")
