doctype html
html
  head
    //modal
    div(class="modal fade" id="problemAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      div(class="modal-dialog modal-lg" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title") New Problem
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body")
            form(id='addForm')
            #addProblem
              div(class="form-group row")
                label(for="colFormLabel" class="col-sm-2 col-form-label") Problem:
                div(class="col-sm-10")
                  textarea(form="addForm" class="form-control" id="problem" rows="5")
              div(class="form-group row")
                label(for="colFormLabel" class="col-sm-2 col-form-label") Solution:
                div(class="col-sm-10")
                  textarea(form="addForm" class="form-control" id="solution" rows="5")
              div(class="modal-footer")
                button(type="submit" class="btn btn-info" data-dismiss="modal" id="btnAdd") Add Problem
    //Navbar
    div.top
      Nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="#") #{title}
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Catalogue
              div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                a(class="dropdown-item" href="#") Test
        div(class="pull-right")
          ul(class="navbar-nav mr-auto")
            li(class="nav-tem")
              button(type="button" class="btn btn-light" data-toggle="modal" data-target="#problemAdd") +  Add a new problem
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block content
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="/javascripts/global.js")
